{% extends 'base.html' %}

{% block content %}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

  <h2 class="title m-5">Редактирование заказа</h2>
  <div class="row g-3">

    <div class="col-md-5 col-lg-6">

      <form action="" method="post" class="needs-validation" >
        <div class="row g-3">

          <div class="col-12">
            <label for="name" class="form-label">Имя заказа</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="{{ order.name }}" required>
          </div>

          <div class="col-12">
            <label for="price" class="form-label">Стоиомость</label>
            <input type="text" class="form-control" id="price" name="price" placeholder="{{ order.price }}" required>
          </div>

          <div class="col-12">
            <label for="amount" class="form-label">Количество</label>
            <input type="text" class="form-control" id="amount" name="amount" placeholder="{{ order.amount }}" required>
          </div>

          <div class="col-12">
            <label for="client_id" class="form-label">ID контрагента</label>
            <input type="text" class="form-control" id="client_id" name="client_id" placeholder="{{ order.client_id }}" required>
          </div>

        </div>

        <hr class="my-4">

        <div class="col-6">
            <input class="btn btn-primary" type="submit" value="Сохранить">
        </div>

      </form>
    </div>
  </div>
</main>

{% endblock %}

